fastapi
uvicorn[standard]
pymongo
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
Pillow
pydantic
pydantic[email]
anthropic
httpx
sse-starlette
streamlit
requests
folium
streamlit-folium
pandas
plotly
joblib